@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(./assets/fonts/Roboto-Regular.ttf);
@import url(./assets/fonts/Roboto-Bold.ttf); */
@font-face {
  font-family: "Roboto";

  src: url("./assets/fonts/Roboto-Regular.ttf") format("woff2"),
    url("./assets/fonts/Roboto-Regular.ttf") format("woff");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "Roboto-Bold";

  src: url("./assets/fonts/Roboto-Bold.ttf") format("woff2"),
    url("./assets/fonts/Roboto-Bold.ttf") format("woff");

  font-weight: bold;

  font-style: normal;

  font-display: swap;
}
:root {
  --primary-ff: "Roboto";
  --RobotoBold: "Roboto-Bold";
  --DarkSlateGrey: hsl(234, 29%, 20%);
  --Tomato: hsl(4, 100%, 67%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  font-family: var(-primary-ff);
  font-size: 16px;
  height: 100%;
}

@media screen and (min-width: 1440px) {
  body {
    background-color: hsl(234, 29%, 20%);
  }
}

.btn-primary {
  font-family: var(--RobotoBold);
  background-color: var(--DarkSlateGrey);
  color: #fff;
  padding: 14px 0;
}
.btn-primary:hover {
  background-color: var(--Tomato);
}


 .page-title {
  font-family: var(--RobotoBold);
  font-size: 40px;
}